.pagination {
  display: flex;
  align-items: center;
  grid-column: center-start / center-end;
  grid-gap: 1rem;
  font-size: 2rem;
  justify-content: center;
}

@media only screen and (max-width: 37.5em) {
  .pagination {
    font-size: 1.6rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .pagination__top {
    padding-bottom: 0;
  }
}

.pagination__bottom {
  margin-bottom: 3rem;
}

.pagination > * {
  padding: 0 2rem;
  cursor: pointer;
  height: 100%;
  display: flex;
  align-items: center;
}

.pagination__prev-box:hover,
.pagination__next-box:hover,
.pagination__page-box:hover {
  background-color: var(--color-grey-light-2);
}

.pagination__prev-box,
.pagination__next-box {
  display: flex;
  align-items: center;
  position: relative;
}

.pagination__prev,
.pagination__next {
  height: 2.25rem;
  width: 2.25rem;
  fill: var(--color-grey-dark-2);
}

.pagination__page-box {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 0 2rem;
}

.pagination__page {
  align-items: center;
  height: 3rem;
  width: 3rem;
  display: flex;
  justify-content: center;
  color: var(--color-grey-dark-2);
}

.pagination__page-current {
  color: var(--color-grey-dark-3);
}

.pagination__pages {
  justify-content: space-between;
  align-items: center;
}
